* {
margin: 0px;
padding: 0px;
}

body {
	color: white;
	text-align: center;
	line-height: 24px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}

div div {
	border: 1px solid black;
}

.wrapper {
	background-color: #000000;
	
	display: grid;
	grid-gap: 10px;
	border: 10px solid black;
	padding: 10px;
	
}
.red {
	background-color: #900;
	height: 200px;
	grid-area: 1/1;
}
.green {
	background-color: #090;
	grid-area: 1/2;
}
.blue {
	background-color: #00F;
	grid-area: 1/3;
}
.purple {
	background-color: #63C;
	grid-area: 1/4;
}
.footer {
	background-color: #666;
	grid-column: span 4;
}

@media only screen and (max-width: 500px) {
	.wrapper {
		display: grid;
		grid-gap: 10px;
		border: 10px solid black;
		padding: 10px;
	}
	.red {
		background-color: #900;
		height: 200px;
		grid-area: 1/1;
		s
	}
	.green {
		background-color: #090;
		height: 200px;
		grid-area: 2/1;
	}
	.blue {
		background-color: #00F;
		height: 200px;
		grid-area: 3/1;
	}
	.purple {
		background-color: #63C;
		height: 200px;
		grid-area: 4/1;
		
	}
	.footer {
		background-color: #666;
		height: 40px;
		grid-column: span 1;
	}
}