* {
margin: 0px;
padding: 0px;
}
body {
 background-color: #00dddd;
 font-family: Tahoma, Geneva, sans-serif;
 color: #000;
 text-align: center;
 line-height: 24px;
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 3em;
}
#wrapper {
 background-color: #000000;
 color: #FFFFFF;
 border: 5px solid black;
 width: 800px;
 margin-right: auto;
 margin-left: auto;
 overflow: auto;
 padding: 10px;
}
div div {
	width: 380px;
	float: left;
	height: 200px;
	margin: 10px;
	
}
#red {background-color: #900;}
#green {background-color: #090;}
#blue {background-color: #00F;}
#purple {background-color: #63C;}
#footer {
	background-color: #666;
	height: 40px;
	width: 780px;
}